/* Targeting a HTML tag */
body {
    background-color: red blue;
}

/* targeting an id */
#main-heading {
    color: red;
    text-align: center;
    font-size: 50px;
}

/* targeting a class */
.header-message{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}